.btn,button{
  border-radius: 25px;
  border-width: 0;
  padding: .625rem 1.125rem;
  background: linear-gradient(#EC5DC1,$violet);
  color: white;
  text-decoration: none;
  transition: .5s;
  cursor: pointer;
  &:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.9;
  }
}
