form{
  &.connexion,&.block{
    background: white;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    max-width: 280px;
    box-shadow: 0 -4px 30px -4px #616161;
    padding: 25px 20px 35px;
    margin: auto;
    border-radius: 15px;
    @media (max-height: 600px){
      top: 10%;
    }
    label{
      color: $black;
    }
    input,select{
      display: block;
      max-width: 250px;
      width: 100%;
      margin: 2px auto 16px;
    }
    button{
      margin: 10px auto;
      font-size: 0.8em;
    }
  }
  &.block{
    position: relative;
    input{
      margin: 0;
    }
    .select{
      .css-bg1rzq-control,.css-1szy77t-control{
          outline: none;
          border-radius: 25px;
          border-color: $violet;
          margin: 0;
          width: 100%;
          max-width: 264px;
          border-style: inset;
          border-width: 2px;
          border-image: initial;
        box-shadow: none;
      }
    }
    span.btn{
      margin: 10px auto 0;
      input{
        transition: 0.4s;
        &:checked{
          +span{
            font-size: 20px;
          }
        }
      }
    }
  ;
  }
}

input,textarea,select{
  outline: none;
  border-radius: 25px;
  border-color: $violet;
  background: white;
  padding: 5px;
  height: 23px;
  width: 125px;
  font-size: 0.9em;
  color: $black-light;
}
