form{
  width: 100%;
  margin: auto;
  max-width: 480px;
  @include media('tablet') {
    max-width: 750px;
  }
    input{
    height: 35px;
  }
  input,textarea{
    width: 100%;
    color: $black;
    border: 1px solid black;
    border-radius: 25px;
    background: white;
    padding: 10px;
    outline: none;
    resize: none;
  }
  textarea{
    min-height: 200px;
  }
}
