.nav {
  box-shadow: 0 -4px 30px -4px $black-light;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 70px;
  background: white;
  a{
    display: inline-block;
  }
  .container{
    display: flex;
    .logo{
      margin-right: auto;
      width: 150px;
      height: 70px;
    }
    ul{
      margin-left: auto;
      display: flex;
      li{
        img{
          height: 30px;
        }
        .search{
          input{
            width: 150px;
            display: block;
            @include media('mobile'){
              display: none;
            }
          }
          display: flex;
          button{
            border: none;
            background: transparent;
            padding: 0;
            cursor: pointer;
            outline: none;
            width: auto;
            display: none;
            @include media('mobile'){
              display: block;
            }
            img{
              height: 22px;
              object-fit: cover;
              width: 30px;
            }
          }
          .filter{
          position: fixed;
          width: 100%;
          left: 0;
          top: 75px;
            ul{ background: white;
              display: flex;
              width: 300px;
              text-align: center;
              flex-direction: column;
              li{
                padding: 5px;
                a{
                  color: $black-light;
                }
              }
            }
          }
        }
      }
    }
  }
}
