$primary: #333436;
$accent: #384D66;
$containerWidth: 1440px;

$primary1: #F0522F;
$primary2: #FCB04F;
$secondary1: #F8DFCB;
$secondary2: #FFFADB;
$white: #FFFFFF;
$black: #333436;
// Medias
$mobile  :  480px;
$tablet  : 1024px;
$desktop : 1280px;
