$containerWidth: 1200px;
$blue: #2d2e83;
$violet: #662483;
$white: #FFFFFF;
$black: #484848;
$black-light: #616161;
$grey: #eeeeee;

// Medias
$mobile  :  480px;
$tablet  : 1024px;
$desktop : 1280px;
